*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */
.nav-container{
    display:flex;
    justify-content: space-between;
    background-color: rgb(37, 92, 232);
    padding: 1.7rem 7rem;
}

.logo-container{
width: 15%;
height: 5%;
}

.nav-container>nav{
    text-align: center;
    display: flex;
    justify-content: center;;
}
.nav-container>nav>ul{
    list-style-type: none;
    color: white;
    font-weight: 200;
}

.nav-container>nav>ul>li{
    display:inline-block;
    margin-right: 2rem
}

[type="button"]{
    border-radius: 30px;
    border: none;
    padding: .5rem 1.3rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display:inline;
}

button.white{
    background-color: white;
    font-weight: bold;
    font-size: 1.1em;
}

button.black{
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 1.1em;
}

button.blue{
    color: white;
    background-color: rgb(113, 135, 217);
    font-size: 1.5em;
    padding: .7em 1.3em;
}

header>section:nth-child(2){
    background-image: url(../discord-imgs/img/jumbo.png);
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 20rem;
}

    header>section:nth-child(2)>h2{
    font-size:3.5em;
    font: 100;
    margin-bottom: 1rem;
}

    header>section:nth-child(2)>p{
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.35em;
    margin-bottom: 1.5rem;
}

.btn-container{
    display: flex;
}

.btn-container>button{
    font-size: 1.3em;
    padding: .8em .5em;
    margin-right: 1em;
    font-size: medium;
}

/* MAIN */
main>section{
    padding: 5rem 10rem;
    align-items: center;
    justify-content: center;
}

main>section:nth-of-type(odd){
    background-color: white;
    display: flex;
}

main>section:nth-of-type(even){
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row-reverse;
}

main>section:last-of-type{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 3rem;
}

main>section:last-of-type>img{
    width: 70%
}
main>section:last-of-type>.text>p{
    margin: 0 5rem;
    font-size: 1.2em;
}

main>section .text>h2{
    font-size: 2.5em;
    margin-bottom: 1em;
}

main>footer{
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 8rem;
}

.star-container{
    background-image: url(../discord-imgs/img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2rem 2.5rem;
}

.star-container>button{
    color: white;
    background-color: rgb(113, 135, 217);
}
.star-container>h2{
    color: black;
}

footer{
    background-color: rgb(34, 38, 41);
    color: white;
}


/* FOOTER */
footer>section{
display: flex;
justify-content: space-between;
padding: 3rem 1rem;
margin: 0 10rem
}

.language>span:first-of-type>img{
    width: 20px;
}

.languagel>span:nth-of-type(2){
    color: rgb(92, 123, 214);
}
.lang-social{
    margin-right: 2rem;
}
.ext-links>nav>ul>li:first-of-type{
    color: rgb(92, 123, 214);
    font-weight: bold;
}

.icons i{
    margin-right: 1em;
}

select{
    border: none;
    color: white;
    padding: .3rem;
    background-color:rgb(34, 38, 41);
}

.lang-social>span:first-of-type{
    color: rgb(92, 123, 214);
    font-size: 1.5rem;
    font-weight: bold;
}

.lang-social>.language>span:nth-of-type(2){
    margin-right: .3rem;
}

.lang-social{
    display: inline-block;
    width: 20%;
}

.ext-links{
    width: 80%;
}
.ext-links>nav{
    display:flex;
    justify-content: space-around;
}

.ext-links>nav>ul{
    list-style-type: none;
    line-height: 2.5rem;
    margin-right: 1rem;
}
.ext-links>nav>ul>li{
    font-size: .8em;
}

hr{
    margin: 0 10rem;
    border:1px solid rgb(92, 123, 214);
}

footer>footer{
padding: 1rem 1rem;
margin: 0 10rem;
display: flex;
justify-content: space-between;
}

footer>footer>.blue{
    font-size: 1rem;
}