*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container{
    display:flex;
    justify-content: space-between;
    background-color: rgb(37, 92, 232);
    padding: 1.7rem 7rem;
}
.logo-container{
width: 15%;
height: 5%;
}

nav{
    text-align: center;
    display: flex;
    justify-content: center;;
}
nav>ul{
    list-style-type: none;
    color: white;
    font-weight: 200;
}

ul>li{
    display:inline-block;
    margin-right: 2rem
}

[type="button"]{
    border-radius: 30px;
    border: none;
    padding: .5rem 1.3rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button.white{
    background-color: white;
    font-weight: bold;
    font-size: 1.1em;
}